* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgrey;
    margin: 0;
}

.heading {
    text-align: center;
    padding: 16px;
    margin-bottom: 16px;
}

#health-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    width: 75vw;
    margin: auto;
    background-color: #fff;
    padding: 16px;
    border: 2px solid #fff; 
    border-radius: 8px;
}

#submit-button {
    margin-top: 16px;
    background-color: #24a0ed;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

label, input {
    background-color: #fff;
}

label {
    font-weight: bold;
}

.data, .stats {
    background-color: #fff;
    width: 75vw;
    margin: auto;
    padding: 16px;
    border: 2px solid #fff; 
    border-radius: 8px;
    margin-top: 16px;
}

h3 {
    text-align: center;
    margin-bottom: 16px; 
}

table {
    margin: auto;
    width: 100%; 
    border-collapse: collapse; 
}

thead {
    border-bottom: 2px solid black; 
}

th, td {
    border: 1px solid darkgray; 
    padding: 8px; 
}

.stats p {
    margin-top: 16px; 
}
